@use "../custom" as *;
.slider{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slider-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);  

}
.slider .slide{
  width: 300px;
  

}

.coin-img{
  width: 20px;
  height: 20px;
}

@keyframes scroll{
  0% {
    -webkit-transform: translateX(calc(200px * 7));
    transform: translateX(calc(200px * 7));
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 7));
    transform: translateX(calc(-200px * 7));
  }
}

.bg-nav {
  background: linear-gradient(0deg, #41b07d 0%, #15375c 100%);
}
.logo {
  width: 157px;
  height: 49px;
}

.nav-item {
  margin-right: 0;
  @media (min-width: 768px) {
    margin-right: 30px;
  }
}
.nav-link {
  font-size: 14px;
}

h2 {
  margin: 50px 0;
  padding: 10px;
  color: $azul;
  font-weight: 700;
}

h4 {
  padding: 10px;
  color: $azul;
  font-weight: 700;
}

.mision-vision-texto {
  color: $azul;
  font-size: 16px;
}

.quienes-somos {
  margin-bottom: 50px;
}

.servicios-texto {
  font-size: 16px;
  color: $azul;
}

 .secciones-larga {
  margin: 50px 0;
  @media (min-width: 768px) {
    margin: 200px 0;
  }
}

.valores-span{
  display: block;

  @media (min-width:768px) {
    display: inline;
    
  }
}

