//Colores
$verde: #41B07D;
$azul:#17375D;

$primary: $azul;
$secondary: $verde;

$font-family-primary:  'Roboto', sans-serif;
$font-family-secondary:  'Ubuntu', sans-serif;

//Tipografia
$headings-font-family:  $font-family-primary;
$font-family-sans-serif:  $font-family-primary;
// $font-size-root: 
$h1-font-size: 45px;
// importar todo Boostrap


@import '../../node_modules/bootstrap/scss/bootstrap.scss';